*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: #d8709383;
}

header{
    text-align: center;
}

main{
    max-width: 600px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "logo logo logo"
                         "caja caja izq"
                         "caja caja izq"
                         "bot bot bot"
                         "foo foo foo";
    grid-gap: 20px;
}

.logo{
    background: #fa80724d;
    grid-area: logo;
    border: 2px solid #ffffff;
    text-align: center;
    border-radius: 10px;
}

.contenedor-cajas{
    background: #f4a5604b;
    grid-area: caja;
    padding: 10px;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.caja{
    background: #ffebcd44;
    border-radius: 10px;
}

.cont-left{
    background: #00d9ff52;
    grid-area: izq;
    border: 2px solid #ffffff;
    padding: 150px 0px 0px 0px;
    text-align: center;
    border-radius: 10px;
}

.cont-button{
    display: flex;
    grid-area: bot;
    justify-content: space-between;
}

.cont-button button{
    height: 115px;
    width: 100px;
    background: #892be262;
    border: 2px solid #ffffff;
    border-radius: 10px;
}

.cont-button button:hover{
    background: #ff000062;
    border-color: #000000;
    color: #ffffff;
}

footer{
    background: #00ffff6c;
    grid-area: foo;
    border: 2px solid #ffffff;
    text-align: center;
    border-radius: 10px;
}

@media screen and (max-width:515px) {
    main {
        display: grid;
        grid-template-areas: "logo logo logo"
            "caja caja caja"
            "izq izq izq"
            "bot bot bot"
            "foo foo foo";
        grid-gap: 20px;
    }

    .caja {
        text-align: center;
    }

    .cont-left {
        padding: 0;
    }

    .cont-button button {
        height: 95px;
        width: 85px;

    }
}

@media screen and (max-width:440px) {
    .cont-button button {
        height: 85px;
        width: 67px;

    }

}

@media screen and (max-width:320px) {
    .cont-button button {
        height: 75px;
        width: 55px;
        font-size: x-small;
    }

}

@media screen and (max-width:280px) {
    .cont-button button {
        height: 65px;
        width: 50px;
        font-size: x-small;
    }

}
